.navbar {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    padding: 24px 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.navbar>.container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.navbar .btn {
    color: white;
    border: 2px solid white;
}

.navbar .btn:hover {
    background-color: indigo;
    border-color: indigo;
    -webkit-transition: border-color .2s, background-color .2s;
    -o-transition: border-color .2s, background-color .2s;
    transition: border-color .2s, background-color .2s;
}

.navbar .btn.focus, .navbar .btn:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
}