<div class = "row pillars">
  <div class="col-md-12 text-center">
    <h1>Game Pillars</h1>
    <p>Valley of Shadow is built upon a few game design pillars. These help to steer design decisions and let players know what to expect.</p>
    <br/>
  </div>
  <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-sm-8 offset-sm-2">
    <div class="row">
      <div *ngFor="let pillar of pillars" class="pillar col-lg-4">
        <img src="{{pillar.icon}}" class="pillar-icon"/>
        <h2>{{pillar.title}}</h2>
        <p>{{pillar.description}}</p>
      </div>
    </div>
  </div>
</div>