<div class="vos-hero parallax">
  <div class="game-title">
    <h1>Valley of Shadow</h1>
  </div>
  <div class="hero-hr"></div>
</div>
<div class="container-fluid vos-body fade-to-black">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h3><span class="glow-text">Valley of Shadow</span> is a first-person narrative action/puzzle game.</h3>
      <p>In it you will cast spells, explore a dark world littered with secrets, and fight (or sometimes flee) the terrors that roam the land.</p>
    </div>
  </div>
  <hr/>
  <div class="row pillars">
    <div class="col-md-12 text-center">
      <h1>Game Pillars</h1>
      <p>Valley of Shadow is built upon a few game design pillars. These help to steer design decisions and let players know what to expect.</p>
      <br/>
    </div>
    <div class="col-xl-6 offset-xl-3 col-md-8 offset-md-2">
      <div class="row">
        <div class="col-xl-6 col-lg-12 pillar">
          <img src="assets/img/icons/light.png" class="pillar-icon"/>
          <h2>Non-Repetitive Puzzles</h2>
          <p>
            The core of Valley of Shadow is solving environmental puzzles. Rather than solving multiple iterations of the same puzzle over and over with increasing difficulty,
            we believe that each puzzle should be unique and challenging.
          </p>
        </div>
        <div class="col-xl-6 col-lg-12 pillar">
          <img src="assets/img/icons/missile.png" class="pillar-icon"/>
          <h2>Meaningful Exploration</h2>
          <p>
            Players who want to explore the world should be rewarded for doing so. Not just with vistas, but with actual content. Every corner you turn will hold something for you,
            whether it's a hidden puzzle, a key to the narrative, or an easter egg.
          </p>
        </div>
        <div class="col-xl-6 col-lg-12 pillar">
          <img src="assets/img/icons/fireball.png" class="pillar-icon"/>
          <h2>Spells with Side Effects</h2>
          <p>
            Valley of Shadow explores the side effects of the most popular spells in fantasy - such as Light, Force Missile, and Fireball. Sure, a fireball can blast your enemies apart.
            But it can also ignite wood, or turn water to steam. Solve puzzles using these side effects.
          </p>
        </div>
        <div class="col-xl-6 col-lg-12 pillar">
          <img src="assets/img/icons/lightning.png" class="pillar-icon"/>
          <h2>A Dangerous World</h2>
          <p>
            When you step into Valley of Shadow, you are entering a nightmare, and it should not only look that way but feel that way. While traveling from one safe spot to the next,
            you'll have to constantly be prepared for the worst.
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-lg text-center">
      <h1>Join the Newsletter</h1>
      <p>Sign up and we will email out a newsletter every once in a while to keep you updated with major news!</p>
      <div class="col-xl-4 offset-xl-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
        <form *ngIf="showForm" (ngSubmit)="onSubmit()" #emailForm="ngForm">
          <div id="mc_embed_signup_scroll" class="form-group">

            <input type="email" name="emailInput" class="form-control email-input" placeholder="Email Address" 
              required [(ngModel)]="emailAddress" email>
            
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_3c4255b0f2add1624ed41ab37_53531987d9" tabindex="-1" value="">
            </div>

            <button type="submit" class="btn btn-primary btn-block form-control" [disabled]="emailForm.form.invalid">
              Subscribe
            </button>
          </div>
        </form>
        <div *ngIf="showError" class="alert alert-danger">
          <strong>Something Went Wrong</strong><br/>{{errorMessage}}
        </div>
        <div *ngIf="!showForm" class="alert alert-success">
          <strong>Success!</strong> Thank you for signing up!
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <hr/>
  </div>
</div>
<div class="skybox-bg parallax">
  <div class="container-fluid fade-to-clear">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1>Keep Up with Development</h1>
          <p>Valley of Shadow is still actively in development, and there are multiple ways you can keep up with it and even get involved.</p>
          <p>Click below to follow on your favorite social site. The devs actively participate on Discord and Twitch.</p>
        </div>
      </div>
      <div class="d-flex justify-content-center social-badges">
          <div class="col-lg-1 col-sm-2">
              <a href="https://twitter.com/ValleyOfShadow0" class="fab fa-twitter-square fa-3x fa-clickable"></a>
          </div>
          <div class="col-lg-1 col-sm-2">
              <a href="https://www.facebook.com/ValleyOfShadowGame/" class="fab fa-facebook-square fa-3x fa-clickable" target="_blank"></a>
          </div>
          <div class="col-lg-1 col-sm-2">
              <a href="https://discord.gg/QrDNXr9" class="fab fa-discord fa-3x fa-clickable" target="_blank"></a>
          </div>
          <div class="col-lg-1 col-sm-2">
              <a href="https://twitch.tv/tony_vaccaro" class="fab fa-twitch fa-3x fa-clickable" target="_blank"></a>
          </div>
        </div>
      <div class="text-center text-small footer">
          <code>
            made by <a href="http://synersteel.com" target="_blank">synersteel studio</a><br/>
            icons by Lorc (<a href="https://game-icons.net/lorc/originals/sunbeams.html" target="_blank">sunbeams</a>, 
            <a href="https://game-icons.net/lorc/originals/ink-swirl.html" target="_blank">ink swirl</a>,
            <a href="https://game-icons.net/lorc/originals/lightning-helix.html" target="_blank">lightning helix</a>)
            and sbed (<a href="https://game-icons.net/sbed/originals/flamer.html" target="_blank">flamer</a>)
          </code>
      </div>
  </div>
</div>