/* Hero Banner */
.vos-hero {
    background-image: url('/assets/img/heroImage.jpg');
    background-color: indigo;
}

.socials {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

.socials > a {
    padding-left: 15px;
    padding-right: 15px;
}

.socials-bottom {
    margin-top: 30px;
}

.fa-discord {
    top: 10px;
}

.game-title {
    padding-top: 100px;
    padding-bottom: 600px;
}

.game-title > h1 {
    font-size: 10em;
    animation: title-in 6s linear forwards;

    position: fixed;
    width: 100%;
    height: 100px;
    
    text-align: center;

    z-index: 1;
}

@media only screen and (max-width: 768px) {
    .game-title {
        padding-top: 50px;
        padding-bottom: 500px;
    }

    .game-title > h1 {
        font-size: 5em;
    }
}

@media only screen and (max-height: 768px) {
    .game-title {
        padding-bottom: 300px;
        padding-top: 50px
    }

    .game-title > h1 {
        font-size: 5em;
    }
}

@keyframes title-in {
    0% { text-shadow: 0px 0px 100px #444; color: transparent; }
    15% { text-shadow: 0px 0px 20px #444; color: transparent; }
    100% { text-shadow: 0px 0px 10px #fff; color: #ccc;}
}

.demo-div {
    text-align: center;
    position: fixed;
    margin-top: -60px;
    width: 100%;

    z-index: 1;
}

.demo-div > h2 {
    color: gray;
}

.demo-div > p {
    margin-bottom: 0;
    margin-top: -5px;
    color: gray;
    font-family: 'IM Fell English SC', serif;
    font-size: 1.25em;
}

.blink {
    animation: blink-anim 2s ease-in-out infinite;
}

@keyframes blink-anim {
    0% { color: white; }
    50% { color: gray; }
    100% { color: white; }
}

.demo-link {
    color: gray;
}

.demo-link:hover {
    color: white;
    text-decoration: none;
    text-shadow: 0px 0px 10px white;
    animation: none;
}

.demo-link > .fab {
    margin-bottom: 10px;
}

.hero-hr {
    background-image: linear-gradient(to bottom, transparent, indigo);
    padding-top: 50px;
    z-index: 98;
    position: relative;
    bottom: -1px;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@supports (-webkit-overflow-scrolling: touch) {
    .parallax {
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .game-title > h1 {
        position: relative;
    }
}

/* Body */
.vos-body {
    padding-top: 20px;
    z-index: 99;
    position: relative;
    background-image: linear-gradient(to bottom, indigo, black);
}

.vos-body > hr,
.vos-body > .row > hr,
.skybox-bg > .row > hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

.glow-text {
    text-shadow: 0px 0px 20px white;
}

/* Social/Footer */
.footer {
    padding-top: 200px;
    padding-bottom: 1%;
}

.fade-to-clear {
    background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.5));
}

.skybox-bg {
    background-image: url('/assets/img/footer.jpg');
    position: relative;
    z-index: 90;
}

.social-badges {
    text-align: center;
    margin-top: 40px;
}

.fa-clickable {
    color: white;
    transition: all 2s;
    transition-property: text-shadow, color;
}

.fa-clickable:hover {
    text-decoration: none;
    transition: all 0.1s;
    transition-property: text-shadow, color;
}

.fa-twitter-square:hover,
.fa-twitter:hover {
    text-shadow: 0px 0px 10px #1DA1F2;
    color: #1DA1F2;
}

.fa-facebook-square:hover,
.fa-facebook-f:hover {
    text-shadow: 0px 0px 10px #3b5998;
    color: #3b5998;
}

.fa-discord:hover {
    text-shadow: 0px 0px 10px #7289DA;
    color: #7289DA;
}

.fa-twitch:hover {
    text-shadow: 0px 0px 10px #6441A4;   
    color: #6441A4;
}

.btn-primary {
    background-color: indigo;
    border-color: indigo;
    color: #ccc;
}

.btn-primary:active:hover {
    background-color: rgb(60, 0, 110);
    color: white;
}

.email-input {
    background-color: #ddd;
    color: black;
    margin-bottom: 10px;
}