<div class="vos-hero parallax">
  <div class="game-title">
    <h1>Valley of Shadow</h1>
  </div>
  <div class="demo-div">
    <h2>
      <a href="https://www.dropbox.com/s/ta30tflr5845ysm/Valley%20of%20Shadow%20Demo.zip?dl=1" 
        angulartics2On="click" angularticsAction="ClickPcDemo" class="demo-link">PC Demo</a> | 
      <a href="https://www.dropbox.com/s/tdnszw476zzg0hf/Valley%20of%20Shadow%20Demo%20-%20Mac.zip?dl=1" 
        angulartics2On="click" angularticsAction="ClickMacDemo" class="demo-link">Mac Demo</a>
    </h2>
    <p>click to download</p>
  </div>
  <div class="hero-hr"></div>
</div>
<div class="container-fluid vos-body fade-to-black">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h3><span class="glow-text">Valley of Shadow</span> is a first-person narrative puzzle game.</h3>
      <p>Cast spells, solve puzzles, and unravel the truth of a dark world.</p>
    </div>
    <div class="col-sm-12 text-center top-socials">
        <a href="https://discord.gg/QrDNXr9" class="fab fa-discord fa-2x fa-clickable" target="_blank"></a>
        <a href="https://www.facebook.com/ValleyOfShadowGame/" class="fab fa-facebook-f fa-2x fa-clickable" target="_blank"></a>
        <a href="https://twitter.com/ValleyOfShadow0" class="fab fa-twitter fa-2x fa-clickable"></a>
    </div>
  </div>
  <app-screenshots></app-screenshots>
  <hr/>
  <app-pillars></app-pillars>
  <hr/>
  <div class="row">
    <div class="col-lg text-center">
      <h1>Join the Newsletter</h1>
      <p>Sign up and we will email out a newsletter every once in a while to keep you updated with major news!</p>
      <div class="col-xl-4 offset-xl-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
        <form *ngIf="showForm" (ngSubmit)="onSubmit()" #emailForm="ngForm">
          <div id="mc_embed_signup_scroll" class="form-group">

            <input type="email" name="emailInput" class="form-control email-input" placeholder="Email Address" 
              required [(ngModel)]="emailAddress" email>
            
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_3c4255b0f2add1624ed41ab37_53531987d9" tabindex="-1" value="">
            </div>

            <button type="submit" class="btn btn-primary btn-block form-control" [disabled]="emailForm.form.invalid">
              Subscribe
            </button>
          </div>
        </form>
        <div *ngIf="showError" class="alert alert-danger">
          <strong>Something Went Wrong</strong>
          <br/>
          <div innerHTML="{{errorMessage}}"></div>
        </div>
        <div *ngIf="!showForm" class="alert alert-success">
          <strong>Success!</strong> Thank you for signing up!
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <hr/>
  </div>
</div>
<div class="skybox-bg parallax">
  <div class="container-fluid fade-to-clear">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1>Keep Up with Development</h1>
          <p>Valley of Shadow is still actively in development. Click below to follow on your favorite social site.</p>
        </div>
      </div>
      <div class="d-flex justify-content-center social-badges">
        <div class="col-lg-1 col-sm-2">
            <a href="https://twitter.com/ValleyOfShadow0" class="fab fa-twitter-square fa-3x fa-clickable"></a>
        </div>
        <div class="col-lg-1 col-sm-2">
            <a href="https://www.facebook.com/ValleyOfShadowGame/" class="fab fa-facebook-square fa-3x fa-clickable" target="_blank"></a>
        </div>
        <div class="col-lg-1 col-sm-2">
            <a href="https://discord.gg/QrDNXr9" class="fab fa-discord fa-3x fa-clickable" target="_blank"></a>
        </div>
        <div class="col-lg-1 col-sm-2">
            <a href="https://twitch.tv/tony_vaccaro" class="fab fa-twitch fa-3x fa-clickable" target="_blank"></a>
        </div>
      </div>
      <div class="text-center text-small footer">
          <code>
            made by <a href="http://synersteel.com" target="_blank">synersteel studio</a><br/>
            web dev help by <a href="https://ninamusser.com" target="_blank">nina musser</a><br/>
            icons by Lorc (<a href="https://game-icons.net/lorc/originals/sunbeams.html" target="_blank">sunbeams</a>, 
            <a href="https://game-icons.net/lorc/originals/ink-swirl.html" target="_blank">ink swirl</a>,
            <a href="https://game-icons.net/lorc/originals/lightning-helix.html" target="_blank">lightning helix</a>)
            and sbed (<a href="https://game-icons.net/sbed/originals/flamer.html" target="_blank">flamer</a>)<br/>
          </code>
      </div>
  </div>
</div>