<div class="vos-hero parallax container-fluid">
    <div class="game-title row">
      <div class="col-lg-4 offset-lg-2 col-8 offset-2">
        <img src="/assets/img/valley-of-shadow-logo.png" width="100%">
      </div>
      <div class="col-xl-3 col-lg-3 offset-lg-1 col-12 social-buttons">
        <a href="https://store.steampowered.com/app/1414030/Valley_of_Shadow/" target="_blank" class="btn btn-social btn-block"><div class="fa-brands fa-steam"></div>Steam</a>
        <a href="https://discord.gg/QrDNXr9" target="_blank" class="btn btn-social btn-block"><div class="fa-brands fa-discord"></div>Discord</a>
        <a href="https://twitter.com/ValleyOfShadow0" target="_blank" class="btn btn-social btn-block"><div class="fa-brands fa-twitter"></div>Twitter</a>
        <a href="http://eepurl.com/dNvxBE" target="_blank" class="btn btn-social btn-block"><div class="fa fa-envelope"></div>Newsletter</a>
      </div>
    </div>
    <div class="hero-hr"></div>
  </div>
  <div class="container-fluid vos-body fade-to-black">
    <div class="row">
      <div class="col-12 text-center">
        <h3><span class="glow-text">Valley of Shadow</span> is an emotional puzzle game.</h3>
        <p>Cast Spells to unlock rooms and shed light on the darkness of a broken past.</p>
      </div>
    </div>
    <app-screenshots></app-screenshots>
  </div>
  <div class="container-fluid skybox-bg parallax">
    <div class="row fade-to-clear">
      <hr/>
      <div class="col-xl-5 offset-xl-2 link-list">
        <h2 class="text-center">Press</h2>
        <ul>
          <li><a href="https://gamerant.com/valley-shadow-indie-game-autobiography-therapy/" target="_blank">Valley of Shadow Takes Players Through Co-Creator's Real Therapeutic Processes</a>, <i>Game Rant</i></li>
          <li><a href="https://gamerant.com/valley-shadow-autobigraphy-therapy-indie-game-interview/" target="_blank">Valley of Shadow Interview: The Autobiographical Game's Six-Year Evolution</a>, <i>Game Rant</i></li>
          <li><a href="https://www.youtube.com/watch?v=-pa7aE__vI8" target="_blank">Interview with Anthony and Nick Vaccaro of Valley of Shadow</a>, <i>LevFleetwood</i></li>
          <li><a href="https://open.spotify.com/episode/3To2mIZa9bFZK3wEvPF3Vq?si=drLU3DHiTWacqNjOQ_rR2Q" target="_blank">82: Nick Vaccaro | Synersteel Studio | Valley of Shadow</a>, <i>Indie Game International</i></li>
          <li><a href="https://gamerant.com/ivalley-of-shadow-synersteel-games-interview-trauma-therapy-magic/" target="_blank">In Valley of Shadow, Synersteel Games Developer Battles Trauma with Therapy, Puzzles, and Magic</a>, <i>Game Rant</i></li>
          <li><a href="https://gamerant.com/valley-shadow-autobiographical-games-trauma-grief/" target="_blank">Valley of Shadow Co-Creator Discusses the Viability and Vitality of Autobiographical Games</a>, <i>Game Rant</i></li>
        </ul>
      </div>
      <div class="col-xl-3 link-list">
        <h2 class="text-center">Accolades</h2>
        <ul>
          <li><a href="https://store.steampowered.com/sale/CerebralPuzzleShowcase" target="_blank">Cerebral Puzzle Showcase 2023</a>, <i>Official Selection</i></li>
          <li><a href="https://twitter.com/ValleyOfShadow0/status/1551723016408768512" target="_blank">Tiny Teams 2022</a>, <i>Official Selection</i></li>
          <li><a href="https://east.paxsite.com/" target="_blank">PAX East 2022</a>, Official Selection</li>
          <li><a href="https://super.magfest.org/" target="_blank">MAGFest MIVS 2022</a>, Official Selection</li>
          <li><a href="https://super.magfest.org/" target="_blank">MAGFest MIVS 2020</a>, Official Selection</li>
          <li><a href="https://awesome-con.com/" target="_blank">AwesomeCon 2019</a>, Official Selection</li>
        </ul>
      </div>
      <div class="col-lg-12">
        <div class="text-center text-small footer">
          <code>
            made by <a href="http://synersteel.com" target="_blank">synersteel studio</a><br/>
            web dev help by <a href="https://ninamusser.com" target="_blank">nina musser</a><br/>
          </code>
        </div>
      </div>
    </div>
  </div>