<div class="press">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center mb-4">
                <a routerLink="/" style="display:block;"><img src="/assets/img/valley-of-shadow-logo.png" width="300"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 text-center mb-4">
                <h1>Press Kit</h1>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2 class="mb-3">Fact Sheet</h2>
                <div class="fact mb-4">
                    <strong>Developer:</strong>
                    <span><a href="https://synersteel.com" target="_blank">Synersteel Studio</a></span>
                </div>

                <div class="fact mb-4">
                    <strong>Release Date:</strong>
                    <span>Q4 2024</span>
                </div>

                <div class="fact mb-4">
                    <strong>Platforms:</strong>
                    <span><a href="https://store.steampowered.com/app/1414030/Valley_of_Shadow/" target="_blank">Steam</a></span>
                </div>

                <div class="fact mb-4">
                    <strong>Website:</strong>
                    <span><a routerLink="/">valleyofshadow.com</a></span>
                </div>
            </div>
            <div class="col-md-8">
                <h2>Description</h2>
                <p>An autobiographical puzzle game about mortality. Cast Spells to unlock rooms and shed light on the darkness of a broken past. Relive a true journey of healing and explore a dark world to bring your family home.</p>

                <h2>Features</h2>
                <ul>
                    <li>Experience the retelling of a traumatic event in the lives of the developers through the eyes of one of them as he attempts to heal.</li>
                    <li>Solve puzzles based around the most iconic magical spells in the fantasy genre: Light, Force Missile, & Fireball.</li>
                    <li>Discover nostalgic mementos from the 80's, 90's and 2000's, such as VHS tapes, floppy disks, and old-school game cartridges.</li>
                    <li>Each of the 12 old-school game parody cartridges has an accompanying puzzle inspired by the game itself.</li>
                    <li>Truly glimpse into the developers' lives by finding <i>real</i> home videos, family photos, and a digital recreation of their childhood home.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Trailer</h2>
                <div class="videoWrapper">
                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/6Oq6sqJ1kVQ"></iframe>
                </div>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6"><h2>GIFs</h2></div>
                    <div class="col-md-6 text-right"><a href="https://drive.google.com/drive/folders/1mAVGYAoIeUtJKTFUg2aZt3c4vj3W4C9K" target="_blank">Download from Google Drive</a></div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a href="/assets/img/gifs/gif5.gif"><img width="100%" src="/assets/img/gifs/gif5.gif" /></a>
                    </div>
                    <div class="col-md-6">
                        <a href="/assets/img/gifs/gif1.gif"><img width="100%" src="/assets/img/gifs/gif1.gif" /></a>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                        <a href="/assets/img/gifs/gif4.gif"><img width="100%" src="/assets/img/gifs/gif4.gif" /></a>
                    </div>
                    <div class="col-md-6">
                        <a href="/assets/img/gifs/gif2.gif"><img width="100%" src="/assets/img/gifs/gif2.gif" /></a>
                    </div>
                </div>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6"><h2>Images</h2></div>
                    <div class="col-md-6 text-right"><a href="https://drive.google.com/drive/folders/1L9HcQMcNiLaxovALAVmGWGuWi66Jj7wt" target="_blank">Download from Google Drive</a></div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a href="/assets/img/press-images/home.jpg"><img width="100%" src="/assets/img/press-images/home.jpg" /></a>
                    </div>
                    <div class="col-md-6">
                        <a href="/assets/img/press-images/fire_puzzle.jpg"><img width="100%" src="/assets/img/press-images/fire_puzzle.jpg" /></a>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                        <a href="/assets/img/press-images/child.jpg"><img width="100%" src="/assets/img/press-images/child.jpg" /></a>
                    </div>
                    <div class="col-md-6">
                        <a href="/assets/img/press-images/force_puzzle.jpg"><img width="100%" src="/assets/img/press-images/force_puzzle.jpg" /></a>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                        <a href="/assets/img/press-images/sign.jpg"><img width="100%" src="/assets/img/press-images/sign.jpg" /></a>
                    </div>
                    <div class="col-md-6">
                        <a href="/assets/img/press-images/light_puzzle.jpg"><img width="100%" src="/assets/img/press-images/light_puzzle.jpg" /></a>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                        <a href="/assets/img/press-images/photos.jpg"><img width="100%" src="/assets/img/press-images/photos.jpg" /></a>
                    </div>
                    <div class="col-md-6">
                        <a href="/assets/img/press-images/fire_temple.jpg"><img width="100%" src="/assets/img/press-images/fire_temple.jpg" /></a>
                    </div>
                </div>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6"><h2>Logo & Key Art</h2></div>
                    <div class="col-md-6 text-right"><a href="https://drive.google.com/drive/folders/1AFXbdYTJbBTnnXyvX7W9-gPScGuZL4WD" target="_blank">Download from Google Drive</a></div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a href="/assets/img/press-images/keyart1.jpg"><img width="100%" src="/assets/img/press-images/keyart1.jpg" /></a>
                    </div>
                    <div class="col-md-6">
                        <a href="/assets/img/press-images/keyart2.jpg"><img width="100%" src="/assets/img/press-images/keyart2.jpg" /></a>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                        <a href="/assets/img/press-images/logo2-dark.png"><img width="100%" src="/assets/img/press-images/logo2-dark.png" /></a>
                    </div>
                    <div class="col-md-6">
                        <a href="/assets/img/press-images/logo2.png"><img width="100%" src="/assets/img/press-images/logo2.png" /></a>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                        <a href="/assets/img/press-images/logo1.png"><img width="100%" src="/assets/img/press-images/logo1.png" /></a>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
    </div>
</div>