<div class="press">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center mb-4">
                <a routerLink="/" style="display:block;"><img src="/assets/img/valley-of-shadow-logo.png" width="300"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 text-center mb-4">
                <h1>Press Kit</h1>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2 class="mb-3">Fact Sheet</h2>
                <div class="fact mb-4">
                    <strong>Developer:</strong>
                    <span><a href="https://synersteel.com" target="_blank">Synersteel Studio</a></span>
                </div>

                <div class="fact mb-4">
                    <strong>Release Date:</strong>
                    <span>2023</span>
                </div>

                <div class="fact mb-4">
                    <strong>Platforms:</strong>
                    <span>Steam</span>
                </div>

                <div class="fact mb-4">
                    <strong>Website:</strong>
                    <span><a routerLink="/">valleyofshadow.com</a></span>
                </div>
            </div>
            <div class="col-md-8">
                <h2>Description</h2>
                <p>An autobiographical puzzle game about mortality. Cast Spells to unlock rooms and shed light on the darkness of a broken past. Relive a true journey of healing and explore a dark world to bring your family home.</p>

                <h2>Features</h2>
                <strong>A True Story</strong>
                <p>Experience the dramatic retelling of a traumatic event in the lives of the developers, two brothers, through the eyes of one as he attempts to heal. REAL VHS tapes, photographs and answering machine audio piece together the fall and redemption of a once broken family.</p>

                <strong>Nostalgic Mementos</strong>
                <p>The Valley of Shadow is both a treasure and a tomb of nostalgia from the 80's, 90's and the 2000's. Each piece is significant, and each one familiar to the player. Some of the most popular pieces even have their own puzzles designed for them.</p>

                <strong>Fantasy Spells</strong>
                <p>Cast Light to not only find your way around dark areas, but also solve mind-bending puzzles revolving around Light & Shadow. Strategically manipulate your environment to control the shadows indirectly.</p>
            </div>
        </div>
    </div>
</div>