/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');
@import url('https://fonts.googleapis.com/css?family=Lato');

h1, h2, h3 {
    font-family: 'IM Fell English SC', serif;
    color: #ddd;
}

p, .form-control, li {
    color: #ddd;
    font-family: 'Lato', sans-serif;
}

hr {
    border: 0;
    height: 2px;
    width: 75%;
    background-image: linear-gradient(90deg, transparent, white, transparent);
}